@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    height: 100vh;   
    align-items: center;
    background-color: aquamarine;
    /* font-family: 'Permanent Marker',cursive; */
    font-family: 'Courier New', Courier, monospace;
}