body{
    background-color:aquamarine;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    
}

.container{
    background-color: darkcyan;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.currency-converter{
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.currency-converter select{
    padding:10px;

}
.currency-converter input{
    border: 0;
    background-color: transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;
}

.exchange-rate{
    font-size: 16px;
    font-weight: 600;

}
select:focus,
input:focus{
    outline:0;

}